* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  border: 2px solid salmon;
  height: 40vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
    padding: 20px;
}