* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(13, 17, 22);
}


.container-box {
    border: 2px solid rgb(43, 49, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    gap: 40px;
}

.Get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.Get-in-touch h1{
    color: rgb(153, 155, 157);
}

.contactform-matter {
   width: 100%;
   min-height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: baseline;
   font-size: 40px;
}

.contactform-matter h1 {
    color: rgb(27, 32, 38);
    margin-left: 50px;
    margin-bottom: 100px;
}

.contactform {
    min-height: 100vh;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgb(27, 32, 38);
    min-height: 60vh;
    min-width: 40%;
    background-color: rgb(22, 27, 33);
    border-radius: 10px;

}

.client-name, .mail, .reason{
    display: flex;
    flex-direction: column;
    margin: 5% 6% 5% 8%;
    gap: 15px;
}

.client-name input, .mail input, .reason textarea {
    padding: 10px;
    max-width: 100%;
    background-color: rgb(13, 17, 22);
    border: 2px solid rgb(27, 32, 38);
    border-radius: 10px;
    font-size: larger;
}

.reason textarea {
    max-height: 25vh;
}

.submit{
    background-color: salmon;
    padding: 10px;
    width: 82%;
    margin-top: 5%;
    margin-left: 10%;
    border: none;
    border-radius: 10px;
}


@media screen and (max-width: 500px) {

    .Get-in-touch {
        font-size: 15px;
    }

}

@media screen and (max-width: 400px) {

    .Get-in-touch {
        font-size: 10px;
    }

}