* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(13, 17, 22);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.navigation {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
}

.nav-img {
    height: 50px;
}

.name {
    display: flex;
    flex-direction: row;
}

.name h1 {
    margin-top: 14px;
    margin-left: 8px;
    font-size: medium;
}

.pages {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
}

.page-link li {
   list-style: none;
   font-size: medium;
}

.pages h4 {
    margin-top: 25px;
}

.ContactMe {
    background-color: rgb(13, 17, 22);
    border: 2px solid rgb(42, 48, 55);
    padding: 10px;
    margin-right: 40px;
    font-size: medium;
    border-radius: 6px;
}

.ContactMe:hover {
    background-color: white;
    color: black;
}


.know-more2 {
    color: rgb(142, 143, 145);
}

.section-text {
    font-size: 40px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s;
  }

.section-hidden {
    opacity: 0;
  }


#AboutMe {
    border: .1px solid rgb(43, 49, 56);
    min-height: 100vh;
}

#Projects {
    border: 2px solid rgb(43, 49, 56);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 130vh;
    gap: 100px;    
}

#Experience {
    border: 2px solid rgb(43, 49, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}